@import '_reset';
@import '_global';
@import '_header';
@import '_contact';

.intro .intro-picture {
  margin: 1em 0 4em;
  display: flex;
  justify-content: center;
}

.intro p {
  margin: 2em 0;
}

.intro .float-left {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 600px) {
    float: left;
    margin: 1em 2em 1em 0;
  }
}
