main {
  flex-grow: 1;
  overflow: auto;
  max-height: 100vh;

  .designer {
    height: 100%;

    .SizeContainer {
      height: 100%;
      display: flex;
    }

    svg {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
