<section class="intro container separator">
    <a id="about"></a>
    <p>
        Hey there! Thank you for checking out Wreckey's Custom
        MIDI. My name is Gaya Kessler and I create
        <a href="#projects">custom MIDI controllers</a> and
        other music related gear for very
        specific use cases.
    </p>

    <picture class="float-left">
        <img
            src="/images/gaya-kessler.webp"
            alt="Gaya Kessler - Creator of Wreckey's"
            width="242"
            height="242"
        />
    </picture>

    <p>
        I program, build, and assemble
        everything by hand. Everything
        except for the parts themselves is
        completely DIY.
    </p>

    <p>
        My background is in software
        development and have always had an
        interest in all things to do with
        making music.
    </p>

    <p>
        Feel free to <a href="#contact">get in touch</a>
        about any of my project or you want to discuss
        some custom work.
    </p>
</section>
