<section class="contact container separator">
    <a id="contact"></a>
    <h2>Let's get in touch!</h2>

    <p>
        Do you have any questions about my projects, want to have some custom work done for
        yourself or just want to elaborate? Email me at <a href="mailto: hi@wreckeys.com">hi@wreckeys.com</a>
        of drop a line below:
    </p>

    <form name="contact" action="/thanks#thanks" method="POST" data-netlify="true">
        <fieldset>
            <label for="name">
                Your name:
            </label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="What's your name?"
                required
            />
        </fieldset>
        <fieldset>
            <label for="email">
                Your email address:
            </label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Where can I reach you?"
                required
            />
        </fieldset>
        <fieldset>
            <label for="message">
                Message:
            </label>
            <textarea
                name="message"
                id="message"
                placeholder="Tell me what's on your mind..."
                rows=3
                required
            ></textarea>
        </fieldset>
        <fieldset class="actions">
            <button type="submit">
                Send Message
            </button>
        </fieldset>
    </form>
</section>
