<nav>
    <ul class="container">
        <li>
            <a href="/#top">Home</a>
        </li>
        <li>
            <a href="/#about">About</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>
<header class="container">
    <a href="/">
        <img src="/images/wreckeys-logo.svg" width=300 height=167 alt="Wreckey's Custom MIDI" />
    </a>

    <p>
        I create custom-made MIDI
        controllers which can be
        mounted in 19" racks or
        Eurorack
    </p>
</header>
