<section class="projects container separator">
    <a id="projects"></a>
    <h2>Projects I've Done</h2>

    <% if (site.posts.length > 0) { %>
    <ul class="project-list">
        <% site.posts.forEach((post) => { %>
            <li>
                <a href="<%- post.path %>"><%- post.title %></a>
                <span class="post-short"><%- post.description %></span>
                <span class="post-date">Added on <%- date(post.date, 'YYYY/M/D') %></span>
            </li>
        <% }); %>
    </ul>
    <% } %>
</section>
