<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body lang="en" itemtype="http://schema.org/WebPage" itemscope>
  <a id="top"></a>
  <%- partial('_partial/header') %>

  <main id="content" class="content">
    <%- body %>
  </main>

  <%- partial('_partial/footer') %>
</body>
</html>
